# UI
nicegui>=1.4.0

# --- LLM  ---
ollama==0.3.0                  # Python client for communicating with the local Ollama server

# Voice
faster-whisper==1.0.0       # Highly efficient Speech-to-Text (STT) model
piper-tts>=1.2.0               # Text-to-Speech (TTS) engine
sounddevice>=0.4.6             # Interface for microphone input and speaker output
numpy>=1.26.0                  # Fundamental package for scientific computing with Python

# Tools
duckduckgo-search>=6.0.0
requests>=2.31.0              # For making HTTP requests to Ollama API
beautifulsoup4>4.12.0

# LCD Display
luma.oled>=3.13.0
Pillow>=10.0.0